{% extends 'common.html.twig' %}

{% block content %}
<div class="welcome">
  <h1 class="text-light text-center" style="padding: 250px 0; font-size: 100px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
    {% if isLogged %}
    Benvenuto {{session.nome}}
    {% else %}
    Scegli il tuo orologio
    {% endif %}
    
  </h1>
</div>
<div class="container mt-5">
  <!--START banner section-->
  <div class="row mt-3">
      <div class="col-12 col-md-6">
          <img src="{{ asset('images/image-banner.png') }}" 
          alt="Orologio" 
          class="img-fluid d-md-block" 
          style="width: 100%; max-width: 600px;">
      </div>
      <div class="col-12 col-md-6 mt-3 align-items-center d-flex">
          <div>
            <p class="text-center">Benvenuti in Eterna Eleganza, il punto di riferimento per gli amanti degli orologi di lusso.
              Offriamo una selezione esclusiva di marchi prestigiosi, icone senza tempo che uniscono artigianato e innovazione. 
              Ogni modello è una testimonianza di raffinatezza, perfetto per chi desidera distinguersi con stile. 
              Il nostro team di esperti è a disposizione per guidarvi nella scelta dell’orologio che meglio riflette la vostra
              personalità. Da noi, ogni dettaglio conta: dalla qualità eccezionale al servizio personalizzato.
              Scoprite un universo di precisione, design e prestigio, pensato per chi apprezza il valore del tempo. 
              Visitateci per vivere un’esperienza unica e trovare il vostro prossimo capolavoro. 
              Eterna Eleganza: il tempo, reso indimenticabile.</p>
            <a class="btn btn-primary w-100 mx-auto" href="#" >Visita il nostro catalogo</a>
          </div>
        </div>
  </div>
  <!--END banner section -->
  <!--START cards section-->
  <section class="cards mt-4">
      <div class="row">
        {% if not_found_message %}
        <div class="alert alert-danger alert-dismissible w-50 mt-3" role="alert">   
          <div>Nessun risultato trovato</div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <!--Start success di conferma aggiunta al carrello-->
        <div class="modal fade" id="successAddedToCartModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-success">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">articolo aggiunto al carrello</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <!--End success di conferma aggiunta al carrello-->
        {% for product in products %}
          <div class="col-md-3">
            <div class="card mt-3 p-2">
              <img src="{{ asset('images/img-card-example.png') }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text text-truncate">{{product.marca}} {{product.descrizione}}</p>
              </div>
              <div class="card-footer">
                <a href="/prodotto?id={{product.id}}" class="card-link text-primary">Informazioni</a>
                <a id="successAddedToCart" class="btn btn-primary mt-2" onclick="addProductToCart({{product.id}},'{{product.name}}',{{product.unitCost}},1,'{{product.imgPath1}}')" data-bs-toggle="modal" data-bs-target="#successAddedToCartModal">Aggiungi al carrello</a>
              </div>
            </div>
          <!--End success di conferma aggiunta al carrello-->
          </div>
        {% endfor %}
          <!-- Altre card qui -->
        </div>
  </section>
  <!--END cards section -->
</div>

<script src="{{ asset('js/productDetail.js') }}" type="module"></script>

{% endblock content %}
    